.page {
  font-family: var(--font-inter);
  background-color: #111113;
  overflow: hidden;
}
.hidden {
  
  pointer-events: none;
}
.sidebar{
display: flex;
position: fixed;
width: 250px;
justify-content: space-between;
padding: 1rem;
gap:24px;
flex-direction: column;
color:#6C7278;
height:100vh
}
.menu{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainMenu{
  margin-top: 24px;
}
.menuItem{
  height:38px;
  cursor: pointer;
  display: flex;
  gap:12px;
  align-items: center;
  padding:0px 12px;
  border-radius: 7px;
  color:#ACB5BB;
}
.inactive:hover{
  background-color: #2c2c3013;
  color:#fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2)
}
.activecolor{
  width: 100%;
}

.activecolor:hover{
color:#fff
}
.activeMenu{
border-width: 1px;
border-radius: 7px;
background-color: #2C2C30;
color:#fff;
border: 1px solid;
box-shadow: 0px 8px 23px -3px #000000;
border-image-source: linear-gradient(284.72deg, rgba(246, 247, 250, 0.2) 22.17%, rgba(246, 247, 250, 0) 123.12%);
border:0px;
}

.profile{
justify-content: space-between;
width:100%;
display:flex;
flex-direction: row;
margin-top: 16px;
border-width: 1px;
border-radius: 8px;
padding: 8px 12px;
background-color: #2C2C30;
border: 1px solid #FFFFFF08;
box-shadow: 0px 6px 4px -4px #00000040;
box-shadow: 0px 8px 10px -4px #131E321A;
box-shadow: 0px -6px 4px 0px #0000001F inset;
align-items: center;
cursor:pointer;

}
.profile:hover{
  background-color: #2c2c30a4;
}
.content{
height: 100%;
border-width: 1px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border: 1px solid #2C2C30;
background-color: #161618;
margin:0 0 0 250px;

}
.head{
  display: flex;
justify-content: space-between;
padding: 16px 32px;
border-bottom-width: 1px;
align-items: center;
border-bottom: 1px solid  #2C2C30;

}
.btn:hover{
 
  opacity:0.9;
}
.btn{
border-radius: 6px;
cursor:pointer;
border-width: 1px;
display: flex;
gap: 10px;
background: linear-gradient(90deg, #9945FF 0%, #0BCB7B 100%);
border: 1px;
box-shadow: 0px 7.4px 18.5px 0px #FFFFFF1C inset;
color:#fff;
align-items: center;
justify-content: center;
width: 100%;
}
.connectBtn{
  padding:7px 18px
}
.wallet{
  width: 36px;
height: 36px;
border-radius: 8px;
border-width: 1px;
gap: 16px;
padding: 8px;
border: 1px solid #2C2C30;
}
.wallet:hover{
  background-color:#f3f3f317 ;
   cursor:pointer;
}

.crypto{
padding: 11px 16px;
gap: 6px;
display: flex;
flex-wrap: wrap;

;
background: #161618;
border-bottom: 1px solid  #2C2C30;
border-bottom-width: 1px;

}
.coin{
border-radius: 5px;
border-width: 1px;
padding: 6px 10px 6px 6px;
gap: 7px;
background: #2C2C30;
display:flex;
align-items: center;
border: 1px solid  #44444A;
color:#fff
}

.coinType{
display: flex;
gap: 6px;
background:  #2C2C30;
align-items: center;
padding-right:7px;
border-right: 2px solid #44444A;
}
.searchbar{
  background:  #1E1E20;
  border: 1px solid  #2C2C30;
display: grid;
grid-template-columns: 1fr 232px ;
border-radius: 10px;
border-width: 1px;
gap: 12px;
width:100%;
padding: 12px;
}
.data{
  padding:18px 24px;
  display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
}
.bar{
height: 52px;
border-radius: 10px;
border-width: 1px;
padding-right: 16px;
padding-left: 21px;
gap: 14px;
background:  #1E1E20;
border: 1px solid #2C2C30;
cursor: pointer;
}
.bar:focus, .searchWrapper:hover{
border-color: #1e1e208a; 
  box-shadow: 0 0 4px rgba(167, 139, 250, 0.5);
  cursor: pointer; 
}
.bar:focus-visible, .searchWrapper:focus-visible{

 outline:none;
  }
.balance{
display: grid;
gap: 16px;
grid-template-columns: 1fr 1.5fr;
width: 100%;

}
.cards{
  display: grid;
gap:14px;
grid-template-columns: 1fr 1fr 1fr 1fr;
width: 100%;
}
.cardLeft{
  border-right: 1px solid  #2C2C30;
;
  display: flex
  ;
      flex-direction: column;
      gap: 6px;
padding:19px;
height: 82px;
    justify-content: center;

}
.balanceCard{
  display:grid;
grid-template-columns: 1fr 1fr;

border-radius: 10px;
border-width: 1px;

align-items: center;
gap: 14px;
background: #1E1E20;
border: 1px solid #2C2C30;
}
.cardRight{

  display: flex;
  gap:6px;
  padding:13px;
  padding-left: 0px;
  flex-direction: column;
}
.balanceBtn{
  background:  #2C2C30;
  border: 0.77px solid  #44444A;
 
border-width: 0.77px;
border-radius: 3.83px;
padding: 4.6px 7.67px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}
.squareCard:hover{
  background:  #1e1e2073;
}
.squareCard{
width: 100%;
flex-direction: column;
display: flex;
justify-content: space-between;
border-width: 0.77px;
border-radius: 8px;
padding: 12px;
background:  #1E1E20;
cursor: pointer;
border: 0.77px solid  #2C2C30;
}
.marketContainer{
  display: grid;
  grid-template-columns: minmax(0, 1fr) 180px;
  width: 100%;
  gap:12px;

  }
  .analyzer{
  border-radius: 10px;
  border-width: 1px;
  padding: 14px 11px;
  gap: 9px;
  color: #fff;
  background:  #161618;
  border: 1px solid  #2C2C30;

  width: 100%;
  }
  .analyzerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9px;
  }
  
  .searchWrapper {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    margin-right:16px;
  padding: 8px 12px;
  border: 1px solid #2C2C30;
  border-radius: 8px;
  border-width: 1px;
  gap:16px;
  }
  
  .analyzerSearch {
  outline: none;
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
  }
  
  .filterIcon {
    color: #bbb;
    margin-left: 5px;
    cursor: pointer;
  }
  .underline:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  
  .table,.list {
    border-collapse: collapse;
   

    border-collapse: separate; 
    border-spacing: 0 10px;
  border-radius: 8px;
  }
  .table{

    min-width: 0;
    overflow: auto;
    table-layout: fixed; /* Or auto if needed */
  }
  .tablescroll{
    overflow-x: auto;
    white-space: nowrap;


  }
  .tablescroll::-webkit-scrollbar {
    height: 4px; 
   
  }
  .list{
    width: 100%;
  }
  

  .tablescroll::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.5); 
    border-radius: 10px;

  }
 
  .tableWrapper {
    overflow: auto;
    -ms-overflow-style: none;  
   
  }

  .list{
    border-spacing: 0 4px;
  }
  .list th:first-child {
    width: 15%; 
    white-space: nowrap; 
  }
  
  .list th:nth-child(2),
  .list th:nth-child(3),
  .list th:nth-child(4) {
    width: 45%; 
  }
  
  .tabel tr, .table th {
    font-size: 9px;
    line-height: 12.1px;
    letter-spacing: -5%;
    padding: 10px;
    text-align: center;
    color:  #ACB5BB;
    background: #2c2c30
  }
  .table tr:hover, .list tr:hover{
    background:#2c2c304d;
    cursor: pointer;
  }
  .list td{
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .list tr, .list th {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -5%;
    padding: 14px;
    font-weight: 400;
    text-align:left ;
    color:  #ACB5BB;
    
  }
  
  .list td{
  
    padding-left: 13px;
    font-size: 14px;
  }
  .table td {
  font-size: 12px;
  line-height:
  14.52px;
  text-align: center;
  color:#ACB5BB
  }
  
  .table th , .list th{
    background: #2c2c30
  }
  
  .icon {
    border-radius: 8px;
  }
  .img_icon{
 
    height:30px;
    cursor: pointer;
  }
 
  .pagination {
    display: flex;
    padding-top: 9px;
    align-items: center;
    width: max-content;
   
  }
  .pageButton:hover{
    background-color:#f3f3f302 ;
    cursor: pointer;
  }
  .pageButton {
    border-radius: 10px;
    border-width: 1px;
    width:32px;
    height: 32px;
    background:  #161618;
    border: 1px solid  #2C2C30;
  display: flex;
  align-items: center;
  justify-content: center;
    gap: 9px;
    
  }
  .p10{
    padding:10px
  }
  .btncount{
    display: flex;
   cursor: pointer;
    padding: 0 24px;
  }
  .selectBtn{
    padding: 8px 12px;
    border-radius: 10px;
  }
  .selected{
    background:  #44444A;
  
  }
  .sideCards{
    display: grid;
    
    gap:16px;
    width: 100%;
  }
.listContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
.history__container{
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-gap: 12px;
}
.chart{
  background: #1E1E20;
}
.advertise{
padding:16px;
box-shadow: 0px 16px 20px -6px #000000A6;
box-shadow: 0px 14px 22px -9px #FFFFFF0F inset;
width:100%;
display: flex;
    flex-direction: column;
    gap: 12px;
}
.advertise__image{
  display:flex;
  border-radius:12px;
  overflow:hidden;
  width: fit-content;
  margin: auto;
  width:100%;
  position: relative;
}
.full_width{
  width: 100%;
}
.contact img:hover{
opacity: 0.7;
cursor: pointer;
}
.contact{
  position: absolute;
  bottom:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1E1E20E5;
width: 100%;
padding:7px 21px;
}
.advertise__text{
flex-direction: column;
  display: flex;
  justify-content: left;

}

.flex{
  display: flex;
  align-items: center;
}
.spacebw{
width:100%;
  justify-content: space-between;
}
.mr4{
  margin-right: 4px;
}
.negativeFade{
  color: #c65468 !important;
}
.negative{
color:#EA3030FC !important
}
.positive{
  color:#12B3A8 !important
}

.success{
  color:#12B3A8
}
.fail{
  color:#FF4252
}

.primary{
  color:#fff;
  display: block;
}
.secondary{
 color: #ACB5BB
}
.secondary100{
  color:#EDF1F3
}
.regularTypo{
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -1%; 

}
.small400{
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: -2%;
}
.smaller400{

font-weight: 400;
font-size: 9.2px;
line-height: 13.8px;
letter-spacing: -1%;

}
.mediumTypo{
font-weight: 500;
font-size: 14px;
line-height: 21px;
letter-spacing: -2%;
}
.largeTypo{
font-weight: 500;
font-size: 32px;
line-height: 37px;
letter-spacing: -2%;

}
.semiboldTypo{
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -2%;
  text-align: center;
  
}
.semibold18{
font-weight: 600;
font-size: 18px;
line-height: 27px;
letter-spacing: -2%;
}
.semibold16{
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -2%;
  }
  .text__center{
    text-align: center;
  }
.text{
  display:flex;
  flex-direction: column;
 align-items: flex-start;
 gap:2px;
}

.small600{
color:#EDF1F3;
font-weight: 600;
font-size: 10.73px;
line-height: 16.1px;
letter-spacing: -2%;
}
.fill{
  background: #2C2C30;

}
.gap10{
  gap: 10px;
}
.mt8{
  margin-top: 8px;
}
.mt12{
  margin-top: 12px;
}
.mt6{
  margin-top: 6px;
}
.gap18{
  gap: 18px;
}
.menu__responsive{
  display: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  .hide{
    display: none;
  }
  .searchbar{
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
  }
  .listContainer{
    grid-template-columns:auto
  }
}
@media (max-width: 1024px) {
.head{
  padding:16px 22px
}
.sidebar{

 left: -100%;
 position: fixed;
 transition: left 0.27s ease-in-out;
 width: 100%;
 z-index: 999;

 background-color: #111113  ; 
}
.sidebar.show{
  display: flex;
  justify-content: space-between;

  left:0px;
 
}
.content{
  margin-left: 0px;
}
.menu__responsive{
  display: inline-block;
}
.logo{
  width: 148px;
  height:38px;
}
.balance{
  grid-template-columns: auto;
}
.marketContainer{
  grid-template-columns: 100%;
}
.sideCards{
  grid-template-columns:1fr 1fr;
  order:-1;
}
.history__container{
  grid-template-columns: auto;
}
}